@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&display=swap");
:root {
  --black: #000;
  --orange: #ff8a0e;
  --gray: #404040;
  --lightgray: #f3f3f3;
  --white: #fff;
  --padding: 70px 0;
}
body {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: var(--gray);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/**** Header ******/

header {
  background-image: url(/Handmade/img/header.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 550px;
}

header h1 {
  color: var(--white);
  font-weight: 700;
  font-size: 4rem;
  background-color: var(--black);
  padding: 25px;
  height: 150px;
  width: 500px;
  position: relative;
  top: 200px;
  margin-left: 200px;
  text-align: center;
}

nav {
  margin-top: 20px;
  background-color: var(--orange);
  margin-left: 200px;
  width: 920px;
  position: relative;
  top: 200px;
}

nav ul li {
  display: inline-block;
  margin-left: 68px;
  padding: 15px;
  text-align: center;
}

nav ul li a {
  color: var(--white);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
}

.line {
  background-color: black;
  width: 100%;
  position: relative;
  height: 22px;
  margin-top: 84px;
  opacity: 50%;
  position: relative;
  top: 213px;
}

/*** Uvod ****/

.uvod {
  height: 400px;
  background-color: var(--lightgray);
  text-align: center;
}

section h2 {
  font-weight: 700;
  font-size: 3rem;
  padding-top: 60px;
}

h2::after {
  display: block;
  content: "";
  width: 80px;
  height: 4px;
  background: var(--orange);
  margin: 20px auto;
}

.uvod article p {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 60px 200px;
}

/*** main ****/

h3 {
  font-weight: 700;
  font-size: 2.8rem;
  padding-top: 60px;
  text-align: center;
}

h3::after {
  display: block;
  content: "";
  width: 90px;
  height: 4px;
  background: var(--orange);
  margin: 30px auto;
}

.main-div {
  text-align: center;
  display: flex;
  margin: 30px 200px;
  padding: 20px;
  padding-bottom: 30px;
}

.main-article p {
  margin: 20px 50px;
  padding: 20px;
  font-size: 1.2rem;
  font-weight: 400;
}

.main-article h4 {
  font-size: 2rem;
  font-weight: 700;
}

.btn {
  padding: 15px 60px;
  font-size: 1.2rem;
  margin: 10px;
  cursor: pointer;
  background: var(--orange);
  color: #fff;
  border: none;
  text-transform: uppercase;
}

.btn:hover {
  background: var(--black);
}

/*** Blog ****/

.blog {
  background-color: var(--lightgray);
  text-align: center;
}

.blog-art {
  display: flex;
  padding: 20px 140px;
  height: 100%;
}

.blog-art img {
  width: 100%;
}

.blog-art article:nth-child(1) {
  background-position: center bottom;
  background-size: cover;
  margin: 50px;
}
.blog-art article:nth-child(2) {
  background-position: center bottom;
  background-size: cover;
  margin: 50px;
}
.blog-art article:nth-child(3) {
  background-position: center bottom;
  background-size: cover;
  margin: 50px;
}
.blog-art article:nth-child(4) {
  background-position: center bottom;
  background-size: cover;
  margin: 50px;
}

.blog-art p {
  margin: 30px;
}

.blog-art h4 {
  font-size: 1.6rem;
  margin-top: 30px;
  font-weight: 600;
}

/*** footer ****/

footer {
  background: var(--gray);
  text-align: center;
  padding: 30px 0;
}

footer p {
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 500;
}

footer ul li {
  display: inline-block;
  margin: 10px;
  margin-top: 20px;
}

footer a {
  color: var(--white);
  font-size: 1.5rem;
  background-color: var(--orange);
  padding: 8px;
}
footer a:hover {
  color: var(--headings);
}
